*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    
}

img{
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    
}

.align_items_center{
    align-items: center;
}

.justify_content{
    justify-content: center;
}

.common_head {
    width: 100%;
    margin-bottom: 82px;
    padding-top: 95px;
    text-align: center;
}

.common_head h2 {
    color: #353535;
    font-size: 24px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

}

.common_head img{
    vertical-align: middle;
}


/*----menu part start----*/
#menu_bar{
    padding-top: 60px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.menu_logo{
    width: 20%;
}

.menu_text{
    width: 70%;
    
}

.free_trial{
    width: 10%;
}
.menu_text ul{
    float: right;
}

.menu_text ul li{
    display: inline-block;
    padding-right: 38px;
}

.menu_text ul li:last-child{
    padding-right: 16px;
}

.menu_text ul li a{
    font-size: 14px;
    color: #fdfdfe;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    transition: all linear .4s;
    position: relative;
    display: block;
}

.menu_text ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0;
    transition: all linear .4s;
}

.menu_text ul.active a::after,
.menu_text ul li a:hover::after{
    width: 15px;
    border: 1px solid #744fa0;
}

.menu_text ul .active a,
.menu_text ul li a:hover{
    color: #744fa0;
}

.free_trial a{
    float: right;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    background: #744fa0;
    border-radius: 5%;
    transition: all linear .4s;
}
.free_trial a:hover{
    color: #000;
    background: #ffffff;
    
}

/*----banner part start----*/
#banner{
    background: url(../images/banner.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    
}

#banner::after{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner_img{
    width: 50%;
    margin-top: 62px;
    z-index: -1;
}
.banner_img img{
    margin-left: -96px;
    margin-top: 107px;
}
.banner_text{
    width: 50%;
    margin-top: 60px;
}

.banner_text_inner{
    width: 470px;
    display: block;
    text-align: right;
    float: right;
    
}
.banner_text h1{
    font-size: 56px;
    line-height: 61px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    

}

.banner_text h1 span{
    color: #744fa0;
}

.banner_text h2{
    font-size: 32px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-top: 14px;
}

.banner_text h2::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 200px;
    border: 1px solid #ffffff; 
    
}

.banner_text_inner p{
    font-size: 14px;
    line-height: 20px;
    color: #f1f1f1;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    display: block;
}

.button{
    margin-top: 50px;
    float: right;
}

.button ul{
    margin-left: 20px;
}
.button_a,
.button_g{
    text-align: center;
}
.button_a ul li,
.button_g ul li{
    background: #744fa0;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all linear .4s;
}

.button_a ul li i,
.button_g ul li i{
    color: #fff;
    font-size: 45px;
    cursor: pointer;
    transition: all linear .4s;
}


.button_a ul li p,
.button_g ul li p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-align: left;
    transition: all linear .4s;
}

.button_a ul li p span,
.button_g ul li p span{
    display: block;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    transition: all linear .4s;
}

.button_a ul li:hover,
.button_g ul li:hover{
    background: #ffff;
}

.button_a ul li:hover i,
.button_a ul li:hover p span,
.button_a ul li:hover p,
.button_g ul li:hover i,
.button_g ul li:hover p span,
.button_g ul li:hover p{
    color: #000;
}

/*----about part start----*/
#about{
    margin: 100px 0px;
}

.about_text{
    width: 50%;
}

.about_img{
    width: 50%;
}

.about_img img{
    float: right;
}

.about_text_inner{
    width: 570px;
    text-align: center;
}

.about_text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: #353535;
}
.about_text h2::after{
    position: absolute;
    content: '';
    background: url(../images/underlineshape.png);
    left: 0;
    bottom: -24px;
    right: 0;
    width: 100%;
    height: 20px;
}

.about_text p{
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    margin-top: 65px;
}

.about_text p span{
    display: block;
    margin-top: 25px;
}

/*----features part start----*/
#features{
    background: #f1f1f1;
}

.features_list{
    width: 35%;
}

.features_list ul li{
    margin-bottom: 48px;
    position: relative;
}

.features_list ul li::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -30px;
    border: 1px solid #353535;
    width: 270px;
    transition: all linear .4s;
}

.features_list ul li:last-child:after {
    border: 0;
}

.features_list ul li a {
    font-size: 42px;
    color: #353535;
    transition: all linear .4s;
}

.features_list ul li p {
    display: inline-block;
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: relative;
    padding-left: 10px;
    transition: all linear .4s;
}

.features_list ul li p span {
    padding-top: 5px;
    display: block;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    transition: all linear .4s;
}

.features_list ul li:hover::after {
    border-color: #744fa0;
    width: 370px;
}

.features_list ul li:hover p,
.features_list ul li:hover p span,
.features_list ul li:hover a {
    color: #744fa0;
}

.features_image {
    width: 30%;
}

.features_details {
    width: 35%;
    text-align: right;
    width: 370px;
}

.features_details h2 {
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.features_details p {
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
}

.features_details p span {
    display: block;
    margin-top: 25px;
}

/*----screenshot part start----*/

.screenshot_img img{
    width: 100%;
    max-width: 100%;
    display: block;
}

/*----watch part start----*/

.video_img{
    background: url(../images/watching.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: -1;
}
.video_img::after {
    position: absolute;
    content: '';
    background: hsla(0, 0%, 0%, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_img ul li i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 30px;
    border: 10px solid #ffffff;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*----pricing part start----*/
.pricing_items{
    width: 25%;
    margin-right: 30px;
}


.pricing_head{
    background: #f1f1f1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all linear .4s;
    text-align: center;
}
.pricing_head h2{
    padding: 10px 0;
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    text-transform: uppercase;
    transition: all linear .4s;
}

.pricing_cost{
    border: 1px solid #f1f1f1;
    padding: 20px 0px;
    text-align: center;
    
}
.pricing_cost_inner{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 3px solid #555555;
    margin: 0 auto;
}

.pricing_cost_inner h3{
    font-size: 30px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-top: 15px;
    
    
    
}
.pricing_cost_inner h3 span {
    font-size: 20px;
}

.pricing_details{
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px;
    text-align: center;
}

.pricing_details ul li{
    padding-bottom: 16px;
    font-size: 14px;
    color: #7f7f7f;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    
}

.sing_up{
    text-align: center;
}

.sing_up a{
    font-size: 14px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    background: #ffff;
    padding: 10px 20px;
    border: 1px solid #353535;
    border-radius: 5px;
    transition: all linear .4s;
}
.sing_up a:hover,
.pricing_head:hover{
    background: #744fa0;
    color: #ffff;
    
}

.pricing_head h2:hover{
    color: #ffff;
}

/*----team part start----*/

.team_items {
    width: 33.33%;
    position: relative;
    margin-top: 88px;
    margin-bottom: 85px;
    margin-right: 30px;
}
.team_items:last-child {
    margin-right: 0;
}

.team_items_inner {
    position: relative;
    transition: all linear .3s;
}

.team_items_inner img {
    width: 100%;
}

.team_items_inner .overly {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    visibility: hidden;
    transition: all linear .3s;
    
}


.team_details {
    border: 2px solid #f1f1f1;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 30px 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;

}

.team_details h2 {
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.team_details h3 {
    font-size: 14px;
    color: #353535;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;";
}

.team_details p {
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;";
    transform: translatey(-4%);
}

.team_items:hover .team_items_inner {
    transform: translateY(-85px);
}

.team_items:hover .team_details {
    transform: translateY(78px);
    visibility: visible;
    opacity: 1;
}
.team_items_inner .overly ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.team_items_inner .overly ul li a{
    font-size: 24px;
    color: #353535;
    transition: all linear .4s;
}
.team_items_inner .overly ul li{
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    background: #ffff;
    text-align: center;
    transition: all linear .4s;
    

}
.team_items_inner .overly ul li a:hover{
    color: #fff;
}
.team_items_inner .overly ul li:hover{
    
    background: #1da1f1;
    
}
.team_items:hover .overly,
.team_items_inner:hover .overly {
    visibility: visible;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*----feedback part start----*/
.banner {
    background: url(../images/feedback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 550px;
    position: relative;
    z-index: 1;
}
.banner::after {
    position: absolute;
    content: '';
    background: hsla(0, 0%, 0%, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.feedback_text {
    text-align: center;
    margin-top: 45px;
}

.feedback_text_inner {
    width: 800px;
    text-align: center;
    background: #ffff;
    padding: 30px 75px;
    border-radius: 20px;
}
.feedback_text_inner p {
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.feedback_text_inner i {
    font-size: 14px;
    color: #744fa0;
    padding-top: 27px;
}

.feedback_text_inner h2 {
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
}

.feedback_text_inner h3 {
    font-size: 14px;
    color: #353535;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #ffff;
    margin: 0 auto;
}

.user_images {
    margin-top: 30px;
}


/*----get in start----*/
form {
    width: 100%;
}

.input-group {
    margin-bottom: 30px;
}

.row .input-group {
    flex-basis: 33.33%;
    margin-right: 30px;
}

.row .input-group:last-child {
    margin-right: 0;
}

.input-group textarea {
    margin-bottom: 0;
}

input,
textarea {
    width: 100%;
    outline: 0;
    padding: 20px 10px;
    border: 1px solid #353535;
    border-radius: 10px;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    margin-bottom: 0px;
}

.submit_button {
    text-align: center;
    margin-bottom: 100px;
}

button {
    font-size: 18px;
    color: #fefefe;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background: #744fa0;
    border: 0;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: #353535;
}


/*----footer part start----*/
#footer{
    justify-content: center;
    background: #353535;
}

.logo{
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.social{
    display: flex;
}

.social ul{
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
}

.social ul li{
    margin-right: 10px;
}

.social ul li a{
    color: #353535;
}

.social ul li i{
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    line-height: 50px;
    color: #353535;
    background: #fff;
    text-align: center;
    transition: all linear .4s;
}

.social ul li i:hover{
    background: #1da1f2;
    color: #ffffff;
}

.copyright{
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 30px 0;

}